<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight Booking Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body id="body">
<div id="tabs" align="center">
    <ul>
        <li><a href="https://www.thoughtworks.com/talktech/vapasi" title="Vapasi">Vapasi India</a></li>
        <li><a href="/" title="Home">Flights</a></li>
        <li><a href="/index" title="Your Reservation ">Show Reservation</a></li>
    </ul>
</div>
    <h1 align="Center" >Welcome To Travel Booking Website</h1>
        <form action="/submitReservation">
            <table><tr>
                <td th:text="${flight.flightName}"></td>
                <td th:text="${flight.departureTime}"></td>
                <td th:text="${flight.departureDate}"></td>
                <td th:text="${flight.arrivalTime}"></td>
                <td th:text="${flight.SelectedClass}"></td>
                <td th:text="${flight.passenger}"></td>
                <td th:text="${flight.price}" ></td></tr><tr>
                <td th:text="${fullName}"></td>
                <td th:text="${email}"></td>
                <td th:text="${mobileNumber}"></td>
            </tr>
                <tr align="center">
                    <td><br><br>
                        <input name="Book Ticket" type="submit">
                    </td>
                </tr>
        </table>
        </form>
</body>
</html>